* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  transition: 0.4s;
  outline: none;
  text-decoration: none;
  border: none;
  font-family: open_sans;
}

body {
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: hidden;
  overflow-y: auto;
  background-color: transparent;
}

@font-face {
  src: url(/assets/fonts/Do_Hyeon/DoHyeon-Regular.ttf) format("truetype");
  font-family: DoHy;
  font-weight: 400;
}

@font-face {
  src: url(/assets/fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
  font-family: open_sans;
  font-weight: 400;
}

@font-face {
  src: url(/assets/fonts/Open_Sans/OpenSans-Bold.ttf) format("truetype");
  font-family: open_sans;
  font-weight: 800;
}

@font-face {
  src: url(/assets/fonts/Open_Sans/OpenSans-Italic.ttf) format("truetype");
  font-family: open_sans;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url(/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf) format("truetype");
  font-family: open_sans;
  font-weight: 600;
}